<div class="page-register">
  <md-card-content layout="column" layout-margin layout-padding>
    <form [formGroup]="formRegister" (ngSubmit)="registerUser(formRegister.value) && formRegister.reset()">
      <div align="center">
        <br>
        <md-card-subtitle>
          <p>{{ 'SIGN_UP' | translate | uppercase }}</p>
        </md-card-subtitle>

        <div class="error" *ngIf="user?.registerationFailed">
          Username and password already exists. Please change your username !
        </div>

        <!-- USERNAME -->
        <md-input-container #usernameInput layout-padding>
          <input
            md-input type="text" name="username" formControlName="username"
            [(ngModel)]="username" flex
            placeholder="{{ 'USERNAME' | translate }}"
            required
            >
          <span md-prefix><md-icon>person</md-icon>&nbsp;</span>
          <md-hint *ngIf="formErrors.username" class="error-form">
            {{ formErrors.username }}
          </md-hint>
        </md-input-container>
        <!-- EMAIL -->
        <md-input-container #emailInput layout-padding>
          <input
            md-input type="text" name="email" formControlName="email"
            [(ngModel)]="email" flex
            placeholder="{{ 'EMAIL' | translate }}"
            required
            >
          <span md-prefix><md-icon>person</md-icon>&nbsp;</span>
          <md-hint *ngIf="formErrors.email" class="error-form">
            {{ formErrors.email }}
          </md-hint>
        </md-input-container>
        <!-- PASSWORD -->
        <md-input-container #passwordInput layout-padding>
          <input
            md-input type="password" name="password" formControlName="password"
            [(ngModel)]="password" flex
            placeholder="{{ 'PASSWORD' | translate }}"
            required
            validateEqual="cfpassword"
            reverse="true"
            >
          <span md-prefix><md-icon>vpn_key</md-icon>&nbsp;</span>
          <md-hint *ngIf="formErrors.password" class="error-form">
            {{ formErrors.password }}
          </md-hint>
        </md-input-container>
        <!-- CONFIRM PASSWORD -->
        <md-input-container #cfpasswordInput layout-padding>
          <input
            md-input type="password" name="cfpassword" formControlName="cfpassword"
            [(ngModel)]="cfpassword" flex
            placeholder="{{ 'PASSWORD_CONFIRM' | translate }}"
            required
            validateEqual="password"
            reverse="true"
            >
          <span md-prefix><md-icon>vpn_key</md-icon>&nbsp;</span>
          <md-hint *ngIf="formErrors.password" class="error-form">
            {{ formErrors.cfpassword }}
          </md-hint>
        </md-input-container>
      </div>

      <div align="right" class="pnl-btn-connect">
        <button type="submit" md-raised-button color="primary" [disabled]="user?.isRegistering || !formRegister.valid">
          <span>{{ 'SIGN_UP' | translate }}</span>
          <md-progress-circle *ngIf="user?.isRegistering" mode="indeterminate"></md-progress-circle>
        </button>
      </div>
    </form>
    <br>
  </md-card-content>
</div>
