<md-card-content>
  <form #formLogin="ngForm">
    <div align="center">
      <br>
      <md-card-subtitle>
        <p>SIGN UP</p>
      </md-card-subtitle>

      <md-input #usernameInput placeholder="Username" name="username" type="Text">
            <span md-prefix>
              <md-icon>person</md-icon>
            </span>
      </md-input>

      <md-input placeholder="Email Address" name="email" type="Text">
            <span md-prefix>
              <md-icon>email</md-icon>
            </span>
      </md-input>

      <md-input placeholder="Password" name="password" type="Text">
            <span md-prefix>
              <md-icon>vpn_key</md-icon>
            </span>
      </md-input>

      <md-input placeholder="Confirm Password" name="cfpassword" type="password">
            <span md-prefix>
              <md-icon>done</md-icon>
            </span>
      </md-input>
    </div>

    <div align="end" class="pnl-btn-connect">
      <button type="submit" md-raised-button color="primary">
        Sign Up
      </button>
    </div>
  </form>
  <br>
</md-card-content>
