/* Navigation Map */

.custom-map {
  overflow: hidden;
  cursor: wait;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.7);
  position: fixed;
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  bottom: 100px;
}

.sebm-google-map-container {
  min-height: 100%;
  height: 100%;
  padding: 1px;
  flex: 1 1 auto;
  border: 1px #000000 solid;
}
