<div class="custom-map" [class.nav-theme]="config?.isDarkTheme">
  <sebm-google-map
    class="sebm-google-map-container"
    *ngIf="showMap"
    [latitude]="lat || centerLat"
    [longitude]="lng || centerLng"
    [zoom]="zoom"
    [disableDefaultUI]="true"
    [zoomControl]="false"
    [styles]="lightAndDark"
    >

    <sebm-google-map-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i, m.lat, m.lng)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [title]="m.title"
      [label]="m.label"
      [id]="m.id"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd($event)"
      [iconUrl]="m.icon"
    >
      <sebm-google-map-info-window [disableAutoPan]="true">
        <div layout-padding>
          <strong><p align="center">{{ m.title }}</p></strong>
          <br>
          <strong>Label :</strong> {{ m.label }}
          <br>
          <strong>Latitude :</strong> {{ m.lat }}
          <br>
          <strong>Longitude :</strong> {{ m.lng }}
          <br>
          <strong>Draggable :</strong> {{ m.draggable }}
        </div>
        <div align="center">
          <button
          md-icon-button
          md-tooltip="{{ 'DISLIKE' | translate }}"
          tooltip-position="below"
          >
            <img class="icon-window-marker" src="assets/img/markers/dislike.png">
          </button>
          <button
          md-icon-button
          md-tooltip="{{ 'LIKE' | translate }}"
          tooltip-position="below"
          >
            <img class="icon-window-marker" src="assets/img/markers/like.png">
          </button>
        </div>

      </sebm-google-map-info-window>
    </sebm-google-map-marker>

  </sebm-google-map>
</div>
