<div class="custom-map" [class.nav-theme]="config?.isDarkTheme">
  <sebm-google-map *ngIf="showMap"
                   [latitude]="lat || centerLat"
                   [longitude]="lng || centerLng"
                   [zoom]="zoom"
                   [disableDefaultUI]="false"
                   [zoomControl]="false"
                   (mapClick)="mapClicked($event)">

    <sebm-google-map-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
    >


      <sebm-google-map-info-window>
        <p align="center"><strong>Marker :</strong> {{i}}</p>
        <span>
          <strong>Latitude :</strong> {{m.lat}}
          <br>
          <strong>Longitude :</strong> {{m.lng}}
        </span>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>

  </sebm-google-map>
</div>
