<div class="background-auth">
  <md-card class="pnl-auth">

    <md-toolbar color="primary">
      <span class="flex-space"></span>
      <span>
          Authentication
      </span>

      <span class="flex-space"></span>
      <md-icon>supervisor_account</md-icon>
    </md-toolbar>

    <md-card-content>
      <form #formLogin="ngForm">
        <div align="center">
          <md-input placeholder="Username" name="name" type="Text">
            <span md-prefix>
              <md-icon>person</md-icon>
            </span>
          </md-input>

          <md-input placeholder="Password" name="password" type="password">
            <span md-prefix>
              <md-icon>vpn_key</md-icon>
            </span>
          </md-input>
        </div>
        <div align="end" class="pnl-btn-connect">
          <button type="submit" md-raised-button color="primary">
            Log in
          </button>
        </div>
      </form>
      <br>
    </md-card-content>

  </md-card>
</div>
