<div layout="column" class="page-nav-module" [class.nav-theme]="config?.isDarkTheme">

  <md-sidenav-layout fullscreen (backdrop-clicked)="closeSidenavLeft() && closeSidenavRight()">
    <md-sidenav #start [mode]="config.sidenavMode" (close)="closeSidenavLeftIfMobile()" align="start" class="sidenav-itinerary">
      <app-itinerary-module></app-itinerary-module>

      <md-card-actions layout="row" layout-align="end center" layout-margin layout-padding>

      </md-card-actions>
    </md-sidenav>

    <md-sidenav #end mode="side" (close)="closeSidenavRightIfMobile()" align="end" class="sidenav-markers">
      <app-marker-module></app-marker-module>

      <md-card-actions layout="row" layout-align="end center" layout-margin layout-padding>

      </md-card-actions>
    </md-sidenav>

    <router-outlet></router-outlet>
  </md-sidenav-layout>

  <md-toolbar color="primary" class="toolbar-bottom">

    <app-toggle-sidenav></app-toggle-sidenav>

    <span flex></span>

    <span>{{ 'WELCOME_TO' | translate }}</span>
    <img class="logo-nav-ezaw" src="/assets/img/ezaw-logo.png">

    <span flex></span>

    <button class="menu" md-icon-button [md-menu-trigger-for]="menu">
      <md-icon class="color-accent">more_vert</md-icon>
    </button>

    <app-markers-sidenav></app-markers-sidenav>
  </md-toolbar>

  <md-menu class="menu-open" x-position="before" y-position="above" #menu="mdMenu" align="end">

    <button md-menu-item [disabled]="user.isDisconnecting" (click)="disconnectUser()"
            *ngIf="!user.isDisconnecting">
      <md-icon>power_settings_new</md-icon>
      <span flex></span>
      <span>{{ 'DISCONNECTION' | translate }}</span>
      <span flex></span>
      <md-progress-circle *ngIf="user.isDisconnecting" mode="indeterminate"></md-progress-circle>
    </button>

    <app-settings-module></app-settings-module>
    <app-profile-module></app-profile-module>

  </md-menu>

</div>
