<div class="page-nav-module" [class.nav-theme]="(config$ | async).isDarkTheme">

  <md-sidenav-layout fullscreen>
    <md-sidenav #sidenav mode="over" align="start">
      <app-itinerary-module></app-itinerary-module>
      <div align="end">
        <button md-raised-button color="primary" #mybutton (click)="sidenav.close()">
          Close
        </button>
      </div>
    </md-sidenav>

    <button md-fab color="primary" class="custom-button-search">
      <md-icon class="md-24">search</md-icon>
    </button>

    <router-outlet></router-outlet>
  </md-sidenav-layout>

  <md-toolbar color="primary" class="toolbar-bottom">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>settings</md-icon>
    </button>

    <span class="flex-space"></span>

    <span>Welcome to </span>
    <img class="logo-nav-ezaw" src="/assets/img/ezaw-logo.png">

    <span class="flex-space"></span>

    <button class="menu" md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu class="menu-open" x-position="before" y-position="above" #menu="mdMenu" align="end">

    <app-profile-module></app-profile-module>

    <app-toggle-theme></app-toggle-theme>

    <button md-menu-item [disabled]="(user$ | async).isDisconnecting" (click)="disconnectUser()"
            *ngIf="!(user$ | async).isDisconnecting">
      <md-icon>power_settings_new</md-icon>
      Disconnect
      <md-progress-circle *ngIf="(user$ | async).isDisconnecting" mode="indeterminate"></md-progress-circle>
    </button>
  </md-menu>

</div>
