/* Navigation */

md-progress-circle {
  width: 10px;
  height: 10px;
  line-height: 10px;
  display: inline-block;
}

/* Toolbar Nav */

.flex-space {
  flex: 1 1 auto;
}

.logo-nav-ezaw {
  max-width: 90px;
}

.toolbar-bottom {
  bottom: 0;
  position: fixed;
  z-index: 10;
}

.custom-button-search {
  position: absolute;
  justify-content: space-between;
  top: 30px;
  float: right;
  left: -30px;
  z-index: 5;
}

md-sidenav {
  width: 320px;
  z-index: 10;
}
