/* Navigation */

md-progress-circle {
  width: 10px;
  height: 10px;
  line-height: 10px;
  display: inline-block;
}

/* Toolbar Nav */

.logo-nav-ezaw {
  max-width: 90px;
}

.toolbar-bottom {
  bottom: 0;
  position: fixed;
  z-index: 10;
}

md-sidenav .sidenav-markers {
  width: 110px;
  z-index: 10;
  text-align: center;
}
