<div class="page-profile">
  <md-card layout="column">

    <md-toolbar class="color-dark-theme color-primary-bold">
      <span>{{ 'PROFILE' | translate }}</span>
      <span flex></span>
      <button md-icon-button>
        <md-icon>person</md-icon>
      </button>
    </md-toolbar>

    <md-card-content layout="column" layout-margin>

      <md-nav-list>
        <h4> Here is the page where the user will be able to modify his account datas </h4>

        <h3 md-subheader>Details :</h3> 
        <h3 md-subheader>Username : Username of the current user</h3>
        <h3 md-subheader>Email Adress : Email adress of the current user</h3>
      </md-nav-list>

      <md-card-actions layout="row" layout-align="space-between center" layout-margin layout-padding>
        <button md-raised-button color="accent" (click)="openNavigation()">
          <span>{{ 'BACK' | translate }}</span>
        </button>
        <button type="submit" md-raised-button color="primary" (click)="openNavigation()">
          <span>{{ 'SAVE' | translate }}</span>
        </button>
      </md-card-actions>

    </md-card-content>

  </md-card>
</div>
