<md-card layout="column">

  <div layout="column" layout-align="center center">
    <h4 md-subheader>{{ 'ALERTS' | translate }} ?</h4>

    <button
      #appMarker
      layout-margin
      layout-padding
      md-icon-button
      *ngFor="let marker of listMarkers"
      md-tooltip="{{ marker.title | translate }}"
      tooltip-position="before"
      (click)="selectIt(marker)"
    >
      <img class="icon-marker-btn" src="{{ marker.icon }}"/>
    </button>

    <app-marker-detail [marker]="selectedMarker"></app-marker-detail>
  </div>

  <div layout="column" layout-align="center center">
    <button
      md-mini-fab
      color="primary"
      md-tooltip="Re-Centrer"
      tooltip-position="before"
    >
      <md-icon>my_location</md-icon>
    </button>
  </div>

</md-card>
