<div class="page-login">
  <md-card-content layout="column" layout-margin layout-padding>
    <form [formGroup]="formAuth" (ngSubmit)="connectUser(formAuth.value)">
      <div align="center">
        <br>
        <md-card-subtitle>
          <p>{{ 'LOG_ME' | translate | uppercase}}</p>
        </md-card-subtitle>

        <div class="error" *ngIf="user?.connectionFailed">
          Username and password do not match
        </div>

        <!-- USERNAME -->
        <md-input-container #usernameInput layout-padding>
          <input
            md-input type="text" name="username" formControlName="username"
            [(ngModel)]="username" flex
            placeholder="{{ 'USERNAME' | translate }}"
            required
            >
          <span md-prefix><md-icon>person</md-icon>&nbsp;</span>
          <md-hint *ngIf="formErrors.username" class="error-form">
            {{ formErrors.username }}
          </md-hint>
        </md-input-container>
        <!-- PASSWORD -->
        <md-input-container #passwordInput layout-padding>
          <input
            md-input type="password" name="password" formControlName="password"
            [(ngModel)]="password" flex
            placeholder="{{ 'PASSWORD' | translate }}"
            required
            >
          <span md-prefix><md-icon>vpn_key</md-icon>&nbsp;</span>
          <md-hint *ngIf="formErrors.password" class="error-form">
            {{ formErrors.password }}
          </md-hint>
        </md-input-container>
      </div>

      <div align="center">
        <md-checkbox color="primary" aria-label="Remember me" [checked]="false">
          <span>{{ 'REMEMBER_ME' | translate}}</span>
        </md-checkbox>
      </div>

      <div align="right" layout-margin layout-padding>
        <button type="submit" md-raised-button color="primary" [disabled]="user?.isConnecting || !formAuth.valid">
          <span>{{ 'LOG_ME' | translate }}</span>
          <md-progress-circle *ngIf="user?.isConnecting" mode="indeterminate"></md-progress-circle>
        </button>
      </div>

    </form>
  </md-card-content>
</div>
